:root {
  --dark-background-color: #1f2937;
  --high-contrast-white: #f9faf8;
  --low-contrast-white: #e5e7eb;
  --active-normal: dodgerblue;
  --hover-normal: cornflowerblue;
  --header-side-margin: 125px;
}

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3B81F6;
  border: none;
  border-radius: 8px;
  color: var(--low-contrast-white);
  font-size: 16px;
  font-weight: bolder;
  padding: 7px;
  width: 115px;
}

button:hover {
  background-color: var(--hover-normal);
}

button:active {
  background-color: #e5e7eb;
  color: #3B81F6;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0 10% 0 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: cornflowerblue;
}

p {
  margin: 0;
  padding: 0;
}

.header, .hero-subtext {
  align-items: center;
  background-color: var(--dark-background-color);
  color: var(--low-contrast-white);
  display: flex;
  font-size: 18px;
}

.header {
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
}

.logo {
  color: var(--high-contrast-white);
  flex: 1;
  font-size: 24px;
  font-weight: bolder;
  /*margin-left: var(--header-side-margin);*/
  margin-left: 10%;
}

.hero-section {
  align-items: center;
  background-color: var(--dark-background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 100px 10% 120px 10%;
}

.hero-text {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hero-heading {
  color: var(--high-contrast-white);
  font-size: 48px;
  font-weight: bolder;
}

.hero-subtext {
  margin-bottom: 10px;
  padding: 0;
}

.hero-image {
  background-color: #f9faf8;
  flex: 0 1 auto;
  min-width: 206px;
  /*min-height: 212px*/
  width: 500px;
}

.info-section {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 100px;
}

.info-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  margin: 40px;
}

.illustration-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 45px;
  justify-content: center;
}

.illustration {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.illustration-image {
  border-color: #3B81F6;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  flex-basis: 150px;
  margin-bottom: 5px;
  min-width: 150px;
}

.illustration-text {
  color: #58616E;
  flex: 1;
  font-weight: 430;
  margin: 0;
  max-width: 150px;
  text-align: center;
}

.quote-section {
  align-items: center;
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0;
}

.quote-body {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 100px 20% 100px 20%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
}

.quote-author {
  align-self: end;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 0;
}

.action-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.action-panel {
  align-items: center;
  background-color: #3B81F6;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 90px 170px 90px 170px;
  /*padding-left: 10%;*/
  min-height: 130px;
  padding: 0 10% 0 10%;
  width: 100%;
}

.action-text {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  /*margin-left: 100px;*/
  /*padding-left: 100px*/
}

.action-text-header {
  color: var(--high-contrast-white);
  font-size: 20px;
  font-weight: bolder;
}

.action-text-subtext {
  color: var(--low-contrast-white);
}

.action-button {
  border-style: solid;
  border-width: 2px;
  /*margin-right: 100px;*/
}

.footer {
  align-items: center;
  background-color: var(--dark-background-color);
  color: var(--low-contrast-white);
  display: flex;
  justify-content: center;
  padding: 40px;
}


